<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>issue</title>
    </head>
    <body>
        <h1>証明書発行</h1>
        <form method="POST" name="issue_info">
            <input type="hidden" name="dummy">
            証明書<input type="text" name="certificate" placeholder="証明書ファイル"><button>アップロード</button><br>
            秘密鍵<input type="text" name="privatekey1" placeholder="tprv..."><br>
            <input type="submit" name="gen_address" value="証明書発行アドレス生成">
            <input type="submit" name="issue_certificate" value="証明書発行">
        </form>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chco=000000&chl=bitcoin:<%= address %>" style="visibility:<%= visibility %>"/><br>
        証明書発行トランザクションID<textarea><%= txid %></textarea>
    </body>
</html>