<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>verify</title>
        <script text="text/javascript" src="./verification.js"></script>
    </head>
    <body>
        <h1>証明書検証</h1>
        <form method="POST" name="verify_form">
            <input type="hidden" name="dummy">
            トランザクションID<input type="text" name="txid" id="txid" value="<%= txid %>"><br>
            アドレス<input type="text" name="address" id="address" value="<%= address %>"><br>
            証明書<input type="file" name="certificate" id="certificate" value="<%= certificate %>"><br>
            <input type="hidden" name="digest" id="digest" value="">
            <input type="submit" id="submit_button" value='検証' onclick="return verify()">
        </form>
        検証結果：<label id="result"><%= result %></label>
    </body>
    <script>
        function read_file(evt){
            document.getElementById('digest').value = '';
            let files = evt.target.files;
            for(let i = 0, f; f = files[i]; i++){
                let reader = new FileReader();
                reader.onload = (function(){
                    return function(e){
                        document.getElementById('digest').value = gen_digest(e.target.result);
                    }
                })(f);
                reader.readAsArrayBuffer(f);
            }
        }
        document.getElementById('certificate').addEventListener('change', read_file, false);
    </script>
</html>